<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ .title }}</title>
        <style>
            .box {
                display: -webkit-flex; /* Safari */
                display: flex;

            }

            .footer {
                flex-direction: row;
                justify-content: space-between;
            }

            .main {
                flex-direction: column;
                justify-content: flex-start;
            }
        </style>
    </head>
    <body class="box main">
        <h1>{{ .title }}</h1>
        <img src="{{ .img }}">
        <div id="footer" class="box footer">
            {{ if gt .id 1 }}
                <a href="/91?prev={{ .id  }}">前一页</a>
            {{ end }}
            <a href="/91/?next={{ .id }}">下一页</a>
        </div>
    </body>
</html>